---
import "../styles/global.css";
import About_img from '../assets/image/about.png';
---
<section class="relative   py-16  px-6 md:px-20">

    <div class="relative  -mt-30  grid md:grid-cols-2 gap-5 items-center">

        <div class="relative z-10">
            <h3 class="text-green-900 font-bold text-2xl uppercase">Nuestros Servicios</h3>
            <h2 class="text-4xl md:text-5xl font-bold text-gray-900 mt-3 leading-tight">¿Qué hacemos?</h2>
            <p class="text-lg md:text-xl text-gray-700 mt-4 max-w-2xl leading-relaxed">
                En Blossom, estamos comprometidos a garantizar el acceso equitativo a las necesidades básicas de los niños, desde bebés hasta adolescentes, en comunidades desfavorecidas que enfrentan crisis o dificultades financieras. Proporcionamos recursos esenciales para apoyar su bienestar y, a través de nuestro programa Life Skills to Blossom, equipamos a los adolescentes con habilidades vitales como el autocuidado, la educación financiera y la etiqueta social. Nuestra misión es restaurar la esperanza ofreciendo recursos materiales y oportunidades para el crecimiento personal, empoderando a los niños para que prosperen en todos los aspectos de sus vidas.
            </p>
            <button class="mt-10 bg-green-700 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-800 transition">
                Ver Todos Los Servicios
            </button>
        </div>
        
        <div class="relative z-10">
            <div class="relative inline-block p-3  rounded-lg ">
                <img src={About_img.src} alt="Blossom" class="rounded-lg rotate-6">
            </div>
        </div>
    </div>
        
</section>
