---
import "../styles/global.css";
---

<footer class="bg-sky-900 text-white py-24 px-6 md:px-20">
    <div class="container mx-auto grid  grid-cols-1 md:grid-cols-2 gap-10">
        
        <!-- Sección de contacto -->
        <div class="bg-sky-800 p-6 rounded-lg border border-white">
            <h3 class="text-3xl font-bold">Conectate con Integra Familia</h3>
            <p class="mt-4 text-lg">
                Somos una organización sin fines de lucro comprometida a servir ¡Únase a nosotros hoy para apoyar nuestra misión!
            </p>
            <p class="mt-4 text-xl font-semibold flex items-center">
                📞 <a href="tel:+12254129847" class="ml-2 underline">(+51) 987 654 321</a>
            </p>
            <div class="mt-6 flex flex-wrap gap-4">
                <button class="bg-sky-700 hover:bg-sky-600 text-white font-bold py-2 px-4 rounded">Voluntario</button>
            </div>
        </div>

        <!-- Mapa -->
        <div>
            <iframe 
                class="w-full h-64 rounded-lg"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6873.359169742129!2d-91.0173345314213!3d30.29039909330319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8626a67a896e46df%3A0x4b5a5f7b4e33db28!2sBlossom!5e0!3m2!1sen!2sus!4v1708712515693"
                allowfullscreen="" loading="lazy">
            </iframe>
        </div>

    </div>

    <!-- Logos y derechos -->
    <div class="mt-12 text-center">
        <p class="mt-6 text-xl">&copy; 2025 Integra Familia. All rights reserved.</p>
    </div>

</footer>
