

<header class="relative z-10  p-4 mt-10 w-fit mx-auto px-6">
    <nav class="bg-white  border-2 border-[#CBD9DE] rounded-full shadow-md  ">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
            <div class="flex">
                
                <div class="flex-shrink-0 flex items-center">
                <a href="#" class="text-2xl font-daily  text-sky-900">INTEGRA FAMILIA</a>
                </div>
                <div class="hidden md:ml-6 md:flex font-semibold md:space-x-8">
                <a href="#" class="text-sky-900 inline-flex items-center px-1 pt-1 text-2sm ">Acerca de</a>
                <a href="#" class="text-sky-900 inline-flex items-center px-1 pt-1 text-2sm ">Historia</a>
                <a href="#" class="text-sky-900 inline-flex items-center px-1 pt-1 text-2sm ">Valores</a>
                <a href="#" class="text-sky-900 inline-flex items-center px-1 pt-1 text-2sm ">Eventos</a>
                </div>
            </div>
            <div class="hidden md:ml-6 md:flex md:items-center">
                <a href="#" class="bg-sky-700 text-white px-4 py-2 rounded-lg transition duration-300 hover:bg-sky-800">Contacto</a>
            </div>
            </div>
        </div>
    </nav>
</header>
